{% extends "settlers/base.html" %}
{% block settlers_content %}
    <h1>Settlers Games</h1>
    <p>
        <a class="button is-small" href="{% url 'settlers:new' %}">New</a>
        <a class="button is-small" href="{% url 'settlers:detail' 1 %}">Demo</a>
    </p>
    <ul>{% for g in games %}
        {% if g.id != 1 %}
        <li>
            <a class="" href="{{ g.get_absolute_url }}">Game #{{ g.id }}</a> |
            {% for player in g.game.players %}
            {{ player.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </li>
    {% endif %}
    {% empty %}
        <li> No games</li>
    {% endfor %}
    </ul>
{% endblock settlers_content %}
