{% extends "settlers/base.html" %}
{% load static %}
{% block settlers_content %}
    <section class="section">
        <h1 class="is-size-4">
            <img class="image is-32x32 is-pulled-left" src="{% static "img/settlers/favicon-large.png" %}">
            <span class="pl-2">Settlers Games</span>
        </h1>
        <p class="buttons mt-4">
            <a class="button is-rounded is-link is-small" href="{% url 'settlers:new' %}">New</a>
            <a class="button is-rounded is-link is-small" href="{% url 'settlers:detail' 1 %}">Demo</a>
            <a class="button is-rounded is-link is-small" href="{% url 'settlers:random' %}">Randomize</a>
        </p>
        <table class="table is-striped is-narrow is-fullwidth">
            <thead>
                <tr>
                    <th>Game</th>
                    <th>Players</th>
                    <th>Updated</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for g in games %}
            <tr>
            {% if g.id != 1 %}
                <td>Game #{{ g.id }}</td>
                <td>
                    {% for player in g.game.players %}
                    {{ player.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>{{ g.updated }}</td>
                <td><a class="button is-rounded is-link is-small" href="{{ g.get_absolute_url }}">View</a></td>
            </tr>
            {% endif %}
            {% empty %}
            <tr><td colspan="2">No games</td></tr>
            {% endfor %}
            </tbody>
    </table>
    </section>
{% endblock settlers_content %}
