{% extends "settlers/base.html" %}
{% load static %}
{% block settlers_content %}
    <div class="app container">
        {% if messages %}
        {% for message in messages %}
        <div class="notification {% if message.tags %}is-{{ message.tags }}{% endif %}">
            <button class="delete"></button>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <canvas id="app" width="700" height="700"></canvas>
        <p class="content">
            <label><input type="radio" name="layout" value="standard34" checked> 3-4 players</label><br>
            <label><input type="radio" name="layout" value="standard56"> 5-6 players</label>
        </p>
        <p class="content">
            <button id="randomize" class="button is-info is-small">Randomize</button>
        </p>
    </div>
{% endblock settlers_content %}
{% block settlers_application_javascript %}
    {{ status|json_script:"app-status" }}
    <script type="module">
        import { App } from '{% static "/settlers/js/app.js" %}'
        let catan = App.seafarers();
    </script>
{% endblock settlers_application_javascript %}
