<fieldset class="">
    <legend>Robber</legend>
    <div class="field has-addons select-group">
        <div class="control is-expanded">
            <span class="select is-small is-fullwidth">
                <select data-label="hex" name="hex" class="robber-hex hex-listing"></select>
            </span>
        </div>
        <div class="control is-expanded">
            <span class="select is-small is-fullwidth">
                <select name="victim" class="victim-listing">
                    <option value="N/A">-- victim --</option>
                </select>
            </span>
        </div>
        <div class="control">
            <button data-handler="handleRobber" class="button is-small is-warning">Rob</button>
        </div>
    </div>
</fieldset>
