<fieldset>
    <legend>Offer To Trade</legend>
    <p class="content" id="trade-offer-details"></p>
    <div class="content">
        <p><label><input type="radio" name="tradeResponse" value="false">  Decline</label></p>
        <p><label><input type="radio" name="tradeResponse" value="true">  Accept:</label></p>
        <div class="indent" id="trade-offers-listing"></div>
    </div>
    <p class="content has-text-centered">
        <button id="save-trade" class="button is-small is-primary">Save</button>
    </p>
</fieldset>
